---
{{- $options := (include "nvidia-device-plugin.options" . | fromJson) }}
{{- if or $options.hasConfigMap .Values.gfd.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "nvidia-device-plugin.fullname" . }}-service-account
  namespace: {{ include "nvidia-device-plugin.namespace" . }}
  labels:
    {{- include "nvidia-device-plugin.labels" . | nindent 4 }}
{{- end }}
